<h1>Zakres ocen</h1>

<div class="content">
  <div *ngIf="settingRatingRequest">
    <div>
      <div class="rating">
        <div *ngFor="let setting of settingRatingRequest ; let i = index">
          <app-rating [rating]="setting.symbol"></app-rating>

          <div class="rating-row">
            <div class="form-group">
              <label for="rating-max-{{ setting.id }}">max</label>
              <input id="rating-max-{{ setting.id }}" name="rating-max-{{ setting.id }}"
                     [(ngModel)]="settingRatingRequest[i].maxScope" type="text" class="form-control">
            </div>

            <div class="form-group">
              <label for="rating-min-{{ setting.id }}">min</label>
              <input id="rating-min-{{ setting.id }}" name="rating-min-{{ setting.id }}"
                     [(ngModel)]="settingRatingRequest[i].minScope" type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <button (click)="editSettingRatings()" type="button" class="btn btn-danger">Zmień skalę ocen</button>
    </div>
  </div>
</div>
