.content {
  margin: 0 auto;
  width: 100%;
}

.content button {
  margin: 10px;
}

.content .rating {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.content .rating .rating-row {
  border: 1px solid #7f7d7d;
  border-radius: 10px;
  width: 150px;
  padding: 30px;
  margin: 10px;
}
