<ng-container *ngIf="examDetailsDto else noExamDetails">
  <div class="header">
    <div class="row">
      <button type="button" class="back btn btn-secondary btn-lg" routerLink="/admin/exam">Wróć</button>
      <button (click) = "getStudentsPdfFromExam()" type="button" class="btn btn-success btn-lg">Generuj PDF z hasłami</button>
      <button [disabled]="examHasFinishedStatus()" (click) = "getExamScoresPdfFromExam()" type="button" class="btn btn-success btn-lg">Generuj PDF z wynikiem</button>
    </div>
    <div class="row">
      <button [disabled]="examHasCreatedStatus()" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editExamModal">Edytuj egzamin</button>
      <button [disabled]="examHasCreatedStatus()" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addQuestion">Dodaj przedmiot</button>
      <button [disabled]="examHasCreatedStatus()" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addStudentGroup">Dodaj grupę studencką</button>
    </div>
  </div>

  <div class="details">
    <div class="row">
      <b>Id:</b> {{ examDetailsDto.examId }}
    </div>
    <div class="row">
      <b>Data startu:</b> {{ examDetailsDto.start | date: 'yyyy:MM:dd HH:mm' }}
    </div>
    <div class="row">
      <b>Data zakończenia:</b> {{ examDetailsDto.end | date: 'yyyy:MM:dd HH:mm' }}
    </div>
    <div class="row">
      <b>Status:</b> <app-exam-status *ngIf="examDetailsDto?.status" [examStatus]="examDetailsDto.status"></app-exam-status>
    </div>
    <div class="row">
      <b>Opis:</b> {{ examDetailsDto.description }}
    </div>
  </div>

  <div *ngIf="errorAlert">
    <div class="alert alert-danger" role="alert">
      {{errorAlert}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div *ngIf="examDetailsDto?.groups?.length > 0 else noStudentGroup">
    <h1>Grupy studenckie: {{ examDetailsDto?.groups?.length }}</h1>
    <div class="table">
      <div class="table-responsive col-xs-9 col-md-offset-2" style="padding-top: 30px;">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th *ngFor="let rowName of ['', 'Id', 'Nazwa', 'Podgrupa', 'Rok', 'Usuń']">
              {{ rowName }}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let group of examDetailsDto?.groups ; let i = index">
            <td>
              {{ i + 1 }}
            </td>
            <td>
              <a routerLink="/admin/group/{{ group?.id }}">{{ group?.id }}</a>
            </td>
            <td>
              {{ group?.name }}
            </td>
            <td>
              {{ group?.subgroup }}
            </td>
            <td>
              {{ group?.year }}
            </td>
            <td>
              <button (click)="deleteGroup(group?.id)" [disabled]="examHasCreatedStatus()" type="button" class="btn btn-danger">Usuń</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ng-template #noStudentGroup>
    <h2>Brak grup studenckich do wywietlenia</h2>
  </ng-template>

  <div *ngIf="examDetailsDto?.subjects?.length > 0 else noSubjects">
    <h1>Przedmioty: {{ examDetailsDto?.subjects?.length }}</h1>
    <div class="table">
      <div class="table-responsive col-xs-9 col-md-offset-2" style="padding-top: 30px;">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th *ngFor="let rowName of ['', 'Id', 'Nazwa', 'Liczba pytań', 'Usuń']">
              {{ rowName }}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let subject of examDetailsDto?.subjects ; let i = index">
            <td>
              {{ i + 1 }}
            </td>
            <td>
              <a routerLink="/admin/subject/{{ subject?.id }}">{{ subject?.id }}</a>
            </td>
            <td>
              {{ subject?.name }}
            </td>
            <td>
              {{ subject?.questionSize }}
            </td>
            <td>
              <button (click)="deleteSubject(subject?.id)" [disabled]="examHasCreatedStatus()" type="button" class="btn btn-danger">Usuń</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ng-template #noSubjects>
    <h2>Brak przedmiotów do wywietlenia</h2>
  </ng-template>

  <app-edit-exam-modal (successEmit)="loadData()" (errorEmit)="showErrorAlert($event)" [examId]="examDetailsDto.examId"></app-edit-exam-modal>
  <div *ngIf="examCreateDataDto">
    <app-exam-add-question-modal (eventQuestionDataRequest)="editExamQuestion($event)" [examCreateQuestionDataDto]="examCreateDataDto.questionData"></app-exam-add-question-modal>
    <app-exam-add-student-group-modal (eventStudentGroupId)="editExamStudentGroup($event)" [studentGroupData]="examCreateDataDto.studentGroupsData"></app-exam-add-student-group-modal>
  </div>

</ng-container>
<ng-template #noExamDetails>
  <h2>Brak detali do wywietlenia</h2>
</ng-template>

