<div class="form">
  <div class="form-group">
    <label for="loginField">Login</label>
    <input [(ngModel)] = "loginData.login" [ngStyle]="{ border: loginBorder }" type="text" class="form-control" id="loginField" placeholder="Wprowadź login" name="login">
  </div>

  <div class="form-group">
    <label for="passwordField">Hasło</label>
    <input [(ngModel)] = "loginData.password" [ngStyle]="{ border: passwordBorder }" type="password" class="form-control" id="passwordField" placeholder="Wprowadź hasło" name="password">
  </div>

  <button (click)="login()" type="submit" class="btn btn-primary">Zaloguj się</button>

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>
</div>
