.form {
  width: 300px;
  height: 350px;
  padding: 30px;
  border: gray 2px solid;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.alert.alert-danger {
  margin-top: 20px;
  margin-bottom: 20px;
}
