<div id="subjectNameModal" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="subjectNameModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ textTitle }}</h3>
      </div>

      <div class="modal-body content">


      <div class="row input">
        <div class="form-group">
          <label for="subjectName">Nazwa przedmiotu</label>
          <input id="subjectName" name="subjectName" [(ngModel)]="subjectName" type="text" class="form-control">
        </div>
      </div>

      <div class="modal-footer">
        <button (click)="cleanModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        <button (click)="addSubject()" type="button" class="btn btn-primary" data-dismiss="modal">Akceptuj</button>
      </div>

      </div>
    </div>
  </div>
</div>
