<div id="addStudentGroup" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="addStudentGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Wybierz grupę studencką</h3>
      </div>

      <div class="modal-body">
        <div>
          <select class="form-control" [(ngModel)]="selectedGroupsId" [ngClass]="selectHasError()">
            <option [value]="group.id" *ngFor="let group of studentGroupData">Nazwa: {{group.name}}, Podgrupa: {{group.subgroup}}, Rok: {{group.year}}</option>
          </select>
          <div class="error-message">{{selectErrorMessage}}</div>
        </div>
      </div>

      <div class="modal-footer">
        <button (click)="cleanModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        <button (click)="addStudentGroup()" type="button" class="btn btn-primary">Dodaj grupe</button>
      </div>
    </div>
  </div>
</div>
