<div class="header">
  <button type="button" class="back btn btn-secondary btn-lg" routerLink="/admin/group">Wróć</button>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#studentGroupModal">Edytuj grupę</button>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#studentAccountModal">Dodaj studenta</button>
  <button (click) = "getStudentsPdfFromGroup()" type="button" class="btn btn-success btn-lg">Generuj PDF</button>
</div>

<div class="details">
  <div class="row">
    <b>Id:</b> {{ studentGroupsDetails?.id }}
  </div>
  <div class="row">
    <b>Nazwa:</b> {{ studentGroupsDetails?.name }}
  </div>
  <div class="row">
    <b>Podgrupa:</b> {{ studentGroupsDetails?.subgroup }}
  </div>
  <div class="row">
    <b>Rok:</b> {{ studentGroupsDetails?.year }}
  </div>
</div>

<div *ngIf="studentGroupsDetails?.students?.length > 0 else noStudent">
  <h1>Studenci: {{studentGroupsDetails.students.length}}</h1>
  <div class="table">
    <div class="table-responsive col-xs-9 col-md-offset-2" style="padding-top: 30px;">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th *ngFor="let rowName of ['', 'Id konta', 'Numer albumu', 'Imię', 'Nazwisko', 'Czy aktywne', 'Usuń']">
            {{ rowName }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of studentGroupsDetails.students ; let i = index">
          <td>
            {{ i + 1 }}
          </td>
          <td>
            <a [routerLink]="['student', student?.accountId]">{{ student?.accountId }}</a>
          </td>
          <td>
            {{ student?.albumNumber }}
          </td>
          <td>
            {{ student?.name }}
          </td>
          <td>
            {{ student?.surname }}
          </td>
          <td>
            <div *ngIf="student.enabled">Aktywne</div>
            <button *ngIf="!student.enabled" (click)="activeStudentAccount(student?.accountId)" type="button" class="btn btn-warning">Aktywuj</button>
          </td>
          <td>
            <button (click)="deleteStudent(student?.accountId)" type="button" class="btn btn-danger">Usuń</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #noStudent>
  <h2>Brak studentów w grupie</h2>
</ng-template>

<app-student-group-modal (studentGroupRequestEvent)="editGroup($event)" [textTitle]="'Edytuj grupe studencką'"></app-student-group-modal>
<app-student-account-modal (studentAccountRequestEvent)="addStudent($event)" [textTitle]="'Dodaj studenta'"></app-student-account-modal>
