<div id="studentGroupModal" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="studentGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ textTitle }}</h3>
      </div>

      <div class="modal-body content">
        <div class="row">
          <div class="form-group">
            <label>Podaj nazwę</label>
            <input [(ngModel)]="studentGroupRequest.name" type="text" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Podaj podgrupę</label>
            <select class="form-control" [(ngModel)]="studentGroupRequest.subgroup">
              <option [value]="subgroup" *ngFor="let subgroup of subgroups">{{ subgroup }}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Podaj rok</label>
            <input [(ngModel)]="studentGroupRequest.year" type="text" class="form-control">
          </div>
        </div>

        <div class="modal-footer">
          <button (click)="cleanModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          <button (click)="emitStudentGroup()" type="button" class="btn btn-primary" data-dismiss="modal">Akceptuj</button>
        </div>
      </div>
    </div>
  </div>
</div>
