<div class="header">
  <button type="button" class="back btn btn-secondary btn-lg" routerLink="/admin/group/{{ groupId }}">Wróć</button>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#studentAccountModal">Edytuj studenta</button>
</div>

<div class="details" *ngIf="studentDetailsResponse">
  <div class="row">
    <b>Id konta:</b> {{ studentDetailsResponse.accountId }}
  </div>
  <div class="row">
    <b>Czy konto aktywne:</b> {{ studentDetailsResponse.enabled }}
  </div>
  <div class="row">
    <b>Imię:</b> {{ studentDetailsResponse.name }}
  </div>
  <div class="row">
    <b>Nazwisko:</b> {{ studentDetailsResponse.surname }}
  </div>
  <div class="row">
    <b>Numer albumu:</b> {{ studentDetailsResponse.albumNumber }}
  </div>
  <div class="row">
    <b>Id grupy:</b> {{ studentDetailsResponse.group?.id }}
  </div>
  <div class="row">
    <b>Grupa studencka:</b> {{ getFullGroupName() }}
  </div>
</div>

<div *ngIf="studentDetailsResponse?.exams?.length > 0 else noExam">
  <h1>Egzaminy studenta: {{studentDetailsResponse.exams.length}}</h1>
  <div class="table">
    <div class="table-responsive col-xs-9 col-md-offset-2" style="padding-top: 30px;">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th *ngFor="let rowName of ['', 'Id exam', 'Id wyniku', 'Data startu', 'Data końca', 'Opis egzaminu', 'Ocena', 'Status wyniku']">
            {{ rowName }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let exam of studentDetailsResponse.exams ; let i = index; let odd = odd" [ngClass]="{'table-odd-color': odd}">
          <td>
            {{ i + 1 }}
          </td>
          <td>
            <a routerLink="/admin/exam/{{ exam?.examId }}">{{ exam?.examId }}</a>
          </td>
          <td>
            <a [routerLink]="['score-details', exam?.scoreId]">{{ exam?.scoreId }}</a>
          </td>
          <td>
            {{ exam?.start | date: 'yyyy:MM:dd, HH:mm' }}
          </td>
          <td>
            {{ exam?.end | date: 'yyyy:MM:dd, HH:mm' }}
          </td>
          <td>
            {{ exam?.description }}
          </td>
          <td>
            <app-rating *ngIf="exam?.rating" [rating]="exam?.rating"></app-rating>
          </td>
          <td>
            {{ exam?.scoreStatus }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #noExam>
  <h2>Brak egzaminów</h2>
</ng-template>

<app-student-account-modal (studentAccountRequestEvent)="editStudent($event)" [textTitle]="'Edytuj studenta'"></app-student-account-modal>
