<div class="header">
  <button type="button" class="back btn btn-secondary btn-lg" routerLink="/admin">Wróć</button>
  <button [routerLink]="['add']" type="button" class="btn btn-primary btn-lg">Dodaj egzamin</button>
</div>

<div *ngIf="successAlert">
  <div class="alert alert-success" role="alert">
    {{successAlert}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div *ngIf="exams?.length > 0 else noExams">
  <h1>Egzaminy: {{exams.length}}</h1>
  <div class="table">
    <div class="table-responsive col-xs-9 col-md-offset-2" style="padding-top: 30px;">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th *ngFor="let rowName of ['', 'Id', 'Początek', 'Koniec', 'Status', 'Ilość pytań', 'Ilośc group studenckich' , 'Opis', 'Usuń']">
            {{ rowName }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let exam of exams ; let i = index">
          <td>
            {{ i + 1 }}
          </td>
          <td>
            <a [routerLink]="[exam?.examId]">{{ exam?.examId }}</a>
          </td>
          <td>
            {{ exam?.start | date: 'yyyy:MM:dd HH:mm' }}
          </td>
          <td>
            {{ exam?.end | date: 'yyyy:MM:dd HH:mm' }}
          </td>
          <td>
            <a [routerLink]="[exam?.examId, 'summary']">
              <app-exam-status *ngIf="exam?.examStatus" [examStatus]="exam.examStatus"></app-exam-status>
            </a>
          </td>
          <td>
            {{ exam?.questionSize }}
          </td>
          <td>
            {{ exam?.studentGroupsSize }}
          </td>
          <td>
            {{ exam?.description }}
          </td>
          <td>
            <button (click)="deleteExam(exam?.examId)" [disabled]="hasCreatedStatus(exam?.examStatus)" type="button" class="btn btn-danger">Usuń</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #noExams>
  <h2>Brak egzamów do wyświetlenia</h2>
</ng-template>
