nav.nav-bar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.back-button {
  float: right;
  text-align: center;
  margin: 5px;
}
