<div class="container header">
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <button type="button" class="btn btn-secondary btn-lg" routerLink="/admin/exam">Wróć</button>
    </div>
    <div class="col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <button (click)="createExam()" type="button" class="btn btn-success btn-lg">Utwórz egzamin</button>
    </div>
    <div class="col-lg-offset-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addQuestion">Dodaj pytania</button>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addStudentGroup">Dodaj grupę studencką</button>
    </div>
  </div>
</div>

<div *ngIf="alertError" class="alert alert-danger" role="alert">
  {{alertError}}
</div>

<div class="row input">
  <div class="form-group">
    <label for="descrition">Opis długość[{{description.length}}]</label>
    <input id="descrition" name="descrition" [(ngModel)]="description" type="text" class="form-control" [ngClass]="descriptionHasError()">
    <div class="error-message" *ngIf="descriptionError">{{descriptionError}}</div>
  </div>
</div>

<div class="row input">
  <div class="form-group">
    <label for="startDate">Data egzaminu</label>
    <input id="startDate" name="startDate" [(ngModel)]="startDate" type="date" class="form-control">
  </div>
</div>

<div class="row input">
  <div class="form-group">
    <label for="startTime">Godzina startu</label>
    <input id="startTime" name="startTime" [(ngModel)]="startTime" type="text" class="form-control" placeholder="hh:mm" [textMask]="{mask: timeMask}">
  </div>
</div>

<div class="row input">
  <div class="form-group">
    <label for="endTime">Godzina zakończenia</label>
    <input id="endTime" name="startTime" [(ngModel)]="endTime" type="text" class="form-control" placeholder="hh:mm" [textMask]="{mask: timeMask}">
  </div>
</div>

<div class="row">
  <div *ngIf="createExamRequest.questionData?.length > 0 ; then areQuestions ; else noQuestions"></div>

  <ng-template #areQuestions>
    <h3>Liczba wybranych pytań: {{createExamRequest.questionData.length}}</h3>
    <div class="table">
      <div class="table-responsive col-xs-8 col-md-offset-2">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th *ngFor="let rowName of ['Index', 'Nazwa przedmiotu', 'Ilość pytań', 'Usuń']">
              {{ rowName }}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let question of createExamRequest.questionData ; let i = index">
            <td>
              {{ i + 1 }}
            </td>
            <td>
              {{ question.subjectName }}
            </td>
            <td>
              {{ question.numberOfQuestions }}
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="removeQuestionRequest(i)">Usuń z listy</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>

  <ng-template #noQuestions>
    <h3>Brak wybranych pytań</h3>
  </ng-template>
</div>

<div class="row">
  <div *ngIf="createExamRequest.studentGroupIds?.length > 0 ; then areGroups ; else noGroups"></div>

  <ng-template #areGroups>
    <h3>Liczba wybranych grup studenckich: {{createExamRequest.studentGroupIds.length}}</h3>
    <div class="table">
      <div class="table-responsive col-xs-8 col-md-offset-2">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th *ngFor="let rowName of ['Index', 'Id grupy', 'Nazwa', 'Usuń']">
              {{ rowName }}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let groupId of createExamRequest.studentGroupIds ; let i = index">
            <td>
              {{ i + 1 }}
            </td>
            <td>
              {{ groupId }}
            </td>
            <td>
              {{ findGroupNameById(groupId) }}
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="removeGroupRequest(i)">Usuń z listy</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>

  <ng-template #noGroups>
    <h3>Brak wybranych grup studenckich</h3>
  </ng-template>
</div>

<div *ngIf="examCreateDataDto">
  <app-exam-add-question-modal (eventQuestionDataRequest)="addQuestionRequest($event)" [examCreateQuestionDataDto]="examCreateDataDto.questionData"></app-exam-add-question-modal>
  <app-exam-add-student-group-modal (eventStudentGroupId)="addStudentGroupIdRequest($event)" [studentGroupData]="examCreateDataDto.studentGroupsData"></app-exam-add-student-group-modal>
</div>
