.row span {
  font-size: 20px;
  margin: 0 20px;
}

.finish-button {
  margin-top: 50px;
  margin-bottom: 20px;
}

nav {
  margin: 20px 0;
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

.question-container {
  user-select: none;
}

.question-container .question {
  margin-bottom: 40px;
  font-size: 20px;
}

.question-container .answers {
  text-align: left;
  width: 30%;
  margin: auto;
  font-size: 20px;
}

.question-container .answers input[type='checkbox'] {
  width: 20px;
  height: 20px;
  border-radius: 20%;
}

.question-container label {
  padding-bottom: 7px;
}

.question-container .wrapper-code {
  margin: 40px;
  width: auto;
}

.question-container .code {
  text-align: left;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  user-select: none;
}

.question-container .image-container {
  margin: 40px;
}

.question-container .image-container .image {
  border: 2px solid #71d3e0;
  border-radius: 20px;
  max-width: 1000px;
  max-height: 1000px;
}

hr {
  margin: 40px 0;
}
