<div *ngIf="studentExamVoteResponse">
  <div class="row">
    <span>
      <b>Początek:</b> {{ studentExamVoteResponse?.start | date: 'yyyy:MM:dd HH:mm' }}
    </span>
    <span>
      <b>Koniec:</b> {{ studentExamVoteResponse?.end | date: 'yyyy:MM:dd HH:mm' }}
    </span>
    <span>
      <b>Pozostało:</b> {{ restTime }}
    </span>
  </div>
</div>

<div class="finish-button">
  <button (click)="redirectToStudentExamSummary()" type="button" class="btn btn-danger btn-lg">Zakoncz egzamin</button>
</div>

<hr>

<div class="question-container" *ngIf="question1">
  <div class="question" *ngIf="studentVote1 && question1">
      <b>Pytanie[{{ getCurrentPage()?.first + 1 }}]:</b> {{ question1?.question }} [Ilość poprawnych odpowiedzi: {{ question1?.correctAnswers }}]
  </div>
  <div *ngIf="question1?.code" class="wrapper-code">
    <h4>Kod</h4>
    <div class="code">
      <textarea [(ngModel)]="question1.code" highlight-js [options]="" [lang]="question1?.codeSyntax"></textarea>
    </div>
  </div>

  <div *ngIf="image1" class="image-container">
    <h4>Obraz</h4>
    <img class="image" [src]='image1' alt="Obraz do pytania numer 1"/>
  </div>

  <div class="answers">
    <div *ngFor="let answer of question1?.answers ; let i = index">
        <div class="form-group">
          <input [(ngModel)]="studentVote1.answers[i].checked" type="checkbox" id="1-answer{{ i }}">
          <label for="1-answer{{ i }}" class="checkbox-inline">{{ answer.answer }}</label>
        </div>
    </div>
  </div>
</div>

<div class="question-container" *ngIf="question2">
  <hr>
  <div class="question" *ngIf="studentVote2 && question2">
    <b>Pytanie[{{ getCurrentPage()?.second + 1 }}]:</b> {{ question2?.question }} [Ilość poprawnych odpowiedzi: {{ question2?.correctAnswers }}]
  </div>

  <div *ngIf="question2?.code" class="wrapper-code">
    <h4>Kod</h4>
    <div class="code">
      <textarea [(ngModel)]="question2.code" highlight-js [options]="" [lang]="question2?.codeSyntax"></textarea>
    </div>
  </div>

  <div *ngIf="image2" class="image-container">
      <h4>Obraz</h4>
      <img class="image" [src]='image2' alt="Obraz do pytania numer 2"/>
  </div>

  <div class="answers">
    <div *ngFor="let answer of question2?.answers ; let i = index">
      <div class="form-group">
        <input [(ngModel)]="studentVote2.answers[i].checked" type="checkbox" id="2-answer{{ i }}">
        <label for="2-answer{{ i }}" class="checkbox-inline">{{ answer.answer }}</label>
      </div>
    </div>
  </div>
</div>

<hr>

<nav *ngIf="paginationNumbers">
  <ul class="pagination">
    <li class="page-item {{ checkPreviousPaginationButton() }}">
      <a (click)="goToPreviousPage()" class="page-link" tabindex="-1">Wstecz</a>
    </li>

    <li *ngFor="let page of paginationNumbers ; let i = index" class="page-item {{ getActivePaginationClass(i) }}">
      <a (click)="goToPage(i)" class="page-link">
        {{ page.first + 1 }} - {{ page.second + 1 }}
      </a>
    </li>

    <li class="page-item {{ checkNextPaginationButton() }}">
      <a (click)="goToNextPage()" class="page-link">Dalej</a>
    </li>
  </ul>
</nav>
