<div id="studentAccountModal" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="studentAccountModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ textTitle }}</h3>
      </div>

      <div class="modal-body content">
        <div class="row">
          <div class="form-group">
            <label>Podaj numer albumu</label>
            <input [(ngModel)]="studentAccountRequest.albumNumber" type="text" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Podaj imię</label>
            <input [(ngModel)]="studentAccountRequest.name" type="text" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Podaj nazwisko</label>
            <input [(ngModel)]="studentAccountRequest.surname" type="text" class="form-control">
          </div>
        </div>

        <div class="modal-footer">
          <button (click)="cleanModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          <button (click)="emitStudentAccountRequest()" type="button" class="btn btn-primary" data-dismiss="modal">Akceptuj</button>
        </div>
      </div>
    </div>
  </div>
</div>
