<div class="header">
  <button type="button" class="back btn btn-secondary btn-lg" routerLink="/admin">Wróć</button>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#subjectNameModal">Dodaj przedmiot</button>
</div>

<div *ngIf="subjects?.length > 0 else noSubjects">
  <h1>Przedmioty: {{subjects.length}}</h1>
  <div class="table">
    <div class="table-responsive col-xs-9 col-md-offset-2" style="padding-top: 30px;">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th *ngFor="let rowName of ['', 'Id', 'Nazwa', 'Liczba pytań', 'Usuń']">
            {{ rowName }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let subject of subjects ; let i = index">
          <td>
            {{ i + 1 }}
          </td>
          <td>
            <a [routerLink]="[subject?.id]">{{ subject?.id }}</a>
          </td>
          <td>
            {{ subject?.name }}
          </td>
          <td>
            {{ subject?.questionSize }}
          </td>
          <td>
            <button (click)="deleteSubject(subject?.id)" [disabled]="subject?.questionSize !== 0" type="button" class="btn btn-danger">Usuń</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-subject-name-modal (newSubjectNameEvent)="addSubject($event)" [textTitle]="'Dodaj przedmiot'" ></app-subject-name-modal>

<ng-template #noSubjects>
  <h2>Brak przedmiotów do wyświetlenia</h2>
</ng-template>
