<nav class="nav-bar">
  <a routerLink="/admin/exam">Egzaminy</a>
  <a routerLink="/admin/group">Grupy studenckie</a>
  <a routerLink="/admin/subject">Przedmioty</a>
  <a routerLink="/admin/system">Ustawienia systemu</a>
  <button (click)="logout()" class="btn btn-outline-success my-2 my-sm-0 back-button" type="button">Wyloguj</button>
</nav>

<!--<div>-->
<!--  <div class="alert alert-success" role="alert">-->
<!--    Dodać globalne alerty-->
<!--    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->
