nav.nav-bar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

nav.nav-bar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.back-button {
  float: right;
  text-align: center;
  margin-top: 8px;
  margin-right: 8px;
}
