/* You can create global styles to this file, and also import other style files */
.container {
  margin: auto;
  text-align: center;
}

.error-message {
  color: red;
  margin-top: 5px;
  text-align: left;
}

.table-odd-color {
  background: #FFFFE0;
}
