<div class="option-button">
  <button type="button" class="back btn btn-secondary btn-lg" routerLink="/admin/exam">Wróć</button>
</div>

<div class="header">Podsumowanie egzaminu</div>

<div class="details" *ngIf="examSummaryResponse">
  <div class="row">
    <b>Id egzaminu: </b>{{ examSummaryResponse?.id }}
  </div>
  <div class="row">
    <b>Data rozpoczęcia: </b>{{ examSummaryResponse?.start | date: 'yyyy:MM:dd HH:mm' }}
  </div>
  <div class="row">
    <b>Data zakończenia: </b>{{ examSummaryResponse?.end | date: 'yyyy:MM:dd HH:mm' }}
  </div>
  <div class="row" *ngIf="restTime">
    <b>Do zakończenia: </b>{{ restTime }}
  </div>
  <div class="row">
    <b>Opis: </b>{{ examSummaryResponse?.description }}
  </div>
  <div class="row">
    <b>Status egzaminu: </b>
    <app-exam-status *ngIf="examSummaryResponse?.examStatus" [examStatus]="examSummaryResponse.examStatus"></app-exam-status>
  </div>
</div>

<h2>Odświeżenie danych za: {{timer}}</h2>

<div *ngIf="examSummaryResponse?.scores?.length > 0 else noExams">
  <h1>Studenci: {{examSummaryResponse.scores.length}}</h1>
  <div class="table">
    <div class="table-responsive col-xs-11 col-md-offset-1" style="padding-top: 30px;">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th *ngFor="let rowName of ['', 'Id studenta', 'Status wyniku', 'Wynik', 'Ocena', 'Numer albumu', 'Imię', 'Nazwisko', 'Id grupy', 'Nazwa grupy']">
            {{ rowName }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let score of examSummaryResponse.scores ; let i = index">
          <td>
            {{ i + 1 }}
          </td>
          <td>
            {{ score?.id }}
          </td>
          <td>
            {{ score?.scoreStatus }}
          </td>
          <td>
            <div *ngIf="score?.score">
              {{ score?.score }}%
            </div>
          </td>
          <td>
            <app-rating *ngIf="score?.rating" [rating]="score.rating"></app-rating>
          </td>
          <td>
            {{ score?.student?.numberAlbum }}
          </td>
          <td>
            {{ score?.student?.name }}
          </td>
          <td>
            {{ score?.student?.surname }}
          </td>
          <td>
            <a routerLink="/admin/group/{{ score?.student?.group?.id }}">{{ score?.student?.group?.id }}</a>
          </td>
          <td>
            {{ getFullGroupName(i) }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #noExams>
  <h2>Brak egzaminów</h2>
</ng-template>
