.option-button {
  margin-top: 40px;
  margin-bottom: 30px;
}

.header button {
  margin: 20px
}

.details {
  margin: 40px auto;
  font-size: 15px;
  width: 350px;
}

.details .row {
  text-align: left;
}

.header {
  margin: 0 auto;
  width: 450px;
  font-size: 35px;
  border-bottom: black solid 2px;
  border-radius: 35%;
  padding: 10px;
}
