<div class="header">
  <button type="button" class="back btn btn-secondary btn-lg" routerLink="/student/exam">Wróć na listę egzaminów</button>
</div>

<div class="details">
  <div class="row">
    <b>Poprawne odpowiedzi:</b> {{ studentScoreResponse?.correctQuestions }}
  </div>
  <div class="row">
    <b>Niepoprawne odpowiedzi:</b> {{ studentScoreResponse?.inCorrectQuestions }}
  </div>
  <div class="row">
    <b>Ocena:</b>
    <app-rating *ngIf="studentScoreResponse?.rating" [rating]="studentScoreResponse?.rating"></app-rating>
  </div>
  <div class="row">
    <b>Wynik:</b> {{ studentScoreResponse?.score }}%
  </div>
</div>
