<div class="header">
  <button type="button" class="back btn btn-secondary btn-lg" routerLink="/admin">Wróć</button>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#studentGroupModal">Dodaj grupę studencką</button>
</div>

<div *ngIf="studentGroupListResponse?.length > 0 else noStudentGroups">
  <h1>Grupy studenckie: {{studentGroupListResponse.length}}</h1>
  <div class="table">
    <div class="table-responsive col-xs-9 col-md-offset-2" style="padding-top: 30px;">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th *ngFor="let rowName of ['', 'Id', 'Nazwa', 'Rok', 'Podgrupa', 'Liczba studentów', 'Usuń']">
            {{ rowName }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let studentGroup of studentGroupListResponse ; let i = index">
          <td>
            {{ i + 1 }}
          </td>
          <td>
            <a [routerLink]="[studentGroup?.id]">{{ studentGroup?.id }}</a>
          </td>
          <td>
            {{ studentGroup?.name }}
          </td>
          <td>
            {{ studentGroup?.year }}
          </td>
          <td>
            {{ studentGroup?.subgroup }}
          </td>
          <td>
            {{ studentGroup?.studentSize }}
          </td>
          <td>
            <button (click)="deleteStudentGroup(studentGroup?.id)" type="button" class="btn btn-danger" [disabled]="studentGroup?.studentSize">Usuń</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #noStudentGroups>
  <h2>Brak przedmiotów do wyświetlenia</h2>
</ng-template>

<app-student-group-modal (studentGroupRequestEvent)="addStudentGroup($event)" [textTitle]="'Dodaj grupe studencką'"></app-student-group-modal>
