<div class="header">
  <button type="button" class="back btn btn-secondary btn-lg" routerLink="/admin/subject">Wróć</button>
  <button type="button" class="back btn btn-primary btn-lg" data-toggle="modal" data-target="#subjectNameModal">Edytuj przedmiot</button>
  <button type="button" class="back btn btn-primary btn-lg" data-toggle="modal" data-target="#questionModal">Dodaj pytanie</button>
</div>

<div class="details">
  <div class="row">
    <b>Id:</b> {{ subjectDetailsResponse?.id }}
  </div>
  <div class="row">
    <b>Nazwa:</b> {{ subjectDetailsResponse?.name }}
  </div>
</div>

<div *ngIf="subjectDetailsResponse?.questions?.length > 0 else noSubjectQuestions">
  <h1>Pytania: {{subjectDetailsResponse.questions.length}}</h1>
  <div class="table">
    <div class="table-responsive col-xs-9 col-md-offset-2" style="padding-top: 30px;">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th *ngFor="let rowName of ['', 'Id', 'Pytanie', 'Czy Zawiera kod', 'Całkowita liczba odpowiedzi', 'Liczba poprawnych odpowiedzi', 'Usuń']">
            {{ rowName }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let question of subjectDetailsResponse.questions ; let i = index">
          <td>
            {{ i + 1 }}
          </td>
          <td>
            <a [routerLink]="['question', question?.id]">{{ question.id }}</a>
          </td>
          <td>
            {{ question?.question }}
          </td>
          <td>
            {{ question?.hasCode }}
          </td>
          <td>
            {{ question?.totalAnswers }}
          </td>
          <td>
            {{ question?.correctAnswers }}
          </td>
          <td>
            <button (click)="deleteQuestion(question?.id)" [disabled]="!question?.canDelete" type="button" class="btn btn-danger">Usuń</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-subject-name-modal (newSubjectNameEvent)="editSubject($event)" [textTitle]="'Edytuj przedmiot'"></app-subject-name-modal>
<app-question-modal (questionModalEmitter)="addQuestion($event)" [textTitle]="'Dodaj pytanie'" [subjectId]="subjectId"></app-question-modal>

<ng-template #noSubjectQuestions>
  <h2>Brak pytań do wyświetlenia</h2>
</ng-template>
