<div id="addQuestion" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="addQuestionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Wybierz pytania</h3>
      </div>

      <div class="modal-body">
        <div>
          <select class="form-control" (change)="selectOption()" [(ngModel)]="selected" [ngClass]="selectHasError()">
            <option [value]="question.name" *ngFor="let question of examCreateQuestionDataDto">{{question.name}}</option>
          </select>
          <div class="error-message">{{selectErrorMessage}}</div>
        </div>

        <div class="size-input-group" *ngIf="selectedQuestion">
          <label for="maxQuestion">Podaj liczbe pytań, max to: {{maxQuestionSize}}</label>
          <input id="maxQuestion" name="maxQuestion" [(ngModel)]="questionSize" type="text" class="form-control" [ngClass]="questionSizeHasError()" [textMask]="{mask: questionSizeMask, guide: false}" placeholder="Podaj liczbę pytań">
          <div class="error-message" *ngIf="questionErrorMessage">{{questionErrorMessage}}</div>
        </div>
      </div>

      <div class="modal-footer">
        <button (click)="cleanModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        <button (click)="addQuestions()" type="button" class="btn btn-primary">Dodaj pytanie</button>
      </div>
    </div>
  </div>
</div>
