<div id="questionModal" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="addQuestionModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ textTitle }}</h3>
      </div>

      <div class="modal-body content">

        <div class="row">
          <div class="form-group">
            <label for="questionName">Podaj pytanie</label>
            <input id="questionName" name="questionName" [(ngModel)]="questionModalEvent.question" type="text"
                   class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="code">
            <div class="syntax">
              <!--[(ngModel)]="selectedGroupsId"-->
              <label for="questionCodeSyntax">Wybierz składnie</label>
              <select id="questionCodeSyntax" class="form-control" [(ngModel)]="questionModalEvent.codeSyntax">
                <option *ngFor="let syntax of syntaxes">{{ syntax }}</option>
              </select>
            </div>
            <div class="text">
              <div class="form-group">
                <label for="questionCode">Podaj kod (opcjonalnie)</label>
                <textarea [ngClass]="codeBackgroundColor()" rows="4" cols="50" id="questionCode" name="questionCode"
                          [(ngModel)]="questionModalEvent.code" type="text" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="row image-loader">
          <b><h3>Wybierz obraz</h3></b>

          <div class="upload">
            <label for="image-loader"><em>Wybierz obraz z komputera</em></label>
            <input id="image-loader" type="file" name="upload-file" (change)="fileProgress($event)">
            <div *ngIf="fileUploadProgress">
              Postęp wgrywania: {{ fileUploadProgress }}
            </div>
          </div>

          <div class="image" *ngIf="previewUrl">
            <img class="image-container" [src]='previewUrl' alt="Obraz do pytania"/>
            <div class="delete" (click)="cleanImage()">
              <span class="icon">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <p>Usuń obraz</p>
              </span>
            </div>
          </div>
        </div>

        <div class="answers-container">
          <div class="row button-add-answer">
            <button (click)="addAnswer()" type="button" class="btn btn-primary">Dodaj odpowiedź</button>
          </div>

          <h3><b>Liczba odpowiedzi: {{ questionModalEvent.answers.length }}</b></h3>
          <div *ngFor="let answer of questionModalEvent.answers; let i = index">
            <hr/>
            <h4><b>Numer: {{ i + 1 }}</b></h4>
            <div class="row">
              <div class="form-group">
                <label>Podaj treść odpowiedzi</label>
                <input [(ngModel)]="questionModalEvent.answers[i].answer" type="text" class="form-control">
              </div>
            </div>

            <div class="row answer">
              <div class="form-group">
                <input [(ngModel)]="questionModalEvent.answers[i].correct" type="checkbox" name="answer{{ i }}" id="answer{{ i }}">
                <label class="checkbox-inline" for="answer{{ i }}">Czy poprawna?</label>
              </div>
            </div>

            <button (click)="removeAnswer(i)" [disabled]="canRemoveAnswer()"  type="button" class="btn btn-danger">Usuń</button>
          </div>
        </div>

        <div class="modal-footer">
          <button (click)="cleanModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          <button (click)="emitQuestionModal()" type="button" class="btn btn-primary" data-dismiss="modal">Akceptuj</button>
        </div>
      </div>
    </div>
  </div>
</div>
