.content {
  margin: 0 auto;
  width: 500px;
  padding: 40px;
}

.answers-container {
  width: 400px;
  border: 2px solid #7f7d7d;
  border-radius: 10px;
  padding: 30px;
  margin: 20px auto;
}

.answers-container hr {
  border-top: 1px solid black;
  border-radius: 20%;
}

.answers-container .line {
  border-top: gray solid 1px;
  margin: 15px;
}

.code-text-area-disable {
  background-color : #d1d1d1;
}

.answers-container .answer input[type='checkbox'] {
  width: 20px;
  height: 20px;
  border-radius: 20%;
}

.answers-container .answer label {
  padding-bottom: 10px;
}

.row .code {
  border: 2px solid #7f7d7d;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
}

.row .code .syntax {
  margin: 10px;
}

.row .code .text {
  margin: 10px;
}

/*IMAGE*/
.image-loader {
  border: 2px solid #7f7d7d;
  border-radius: 10px;
}

.image-loader .upload {
  position: relative;
  overflow: hidden;
  width: 70%;
  padding: 7px;
  margin: 15px auto;
  text-align: center;
  background: #dd4b4d;
  border-radius: 3px;
  cursor: pointer;
}
.image-loader .upload input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.image-loader .upload label {
  color: #fff;
}
.image-loader .upload label:before {
  content: "\21EA";
  margin-right: 5px;
}

.image-loader .image {
  margin: 20px;
  position: relative;
  border-radius: 10px;
}

.image-loader .image .delete {
  border-radius: 10px;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #27a38d;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.image-loader .image:hover .delete {
  opacity: 0.9;
}

.image-loader .image .delete .icon {
  display: block;
  top: 25%;
  position: relative;
  font-size: 25px;
}

.image-loader .image .delete .icon p {
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.image-loader .image .image-container {
  border: 2px solid #71d3e0;
  border-radius: 10px;
  max-height: 100%;
  max-width: 100%;
}
