<div id="editExamModal" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="addQuestionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Edycja egzaminu</h3>
      </div>

      <div class="modal-body content">
        <div class="row input">
          <div class="form-group">
            <label for="descrition">Opis długość[{{description.length}}]</label>
            <input id="descrition" name="descrition" [(ngModel)]="description" type="text" class="form-control">
          </div>
        </div>

        <div class="row input">
          <div class="form-group">
            <label for="startDate">Data egzaminu</label>
            <input id="startDate" name="startDate" [(ngModel)]="startDate" type="date" class="form-control">
          </div>
        </div>

        <div class="row input">
          <div class="form-group">
            <label for="startTime">Godzina startu</label>
            <input id="startTime" name="startTime" [(ngModel)]="startTime" type="text" class="form-control" placeholder="hh:mm" [textMask]="{mask: timeMask}">
          </div>
        </div>

        <div class="row input">
          <div class="form-group">
            <label for="endTime">Godzina zakończenia</label>
            <input id="endTime" name="startTime" [(ngModel)]="endTime" type="text" class="form-control" placeholder="hh:mm" [textMask]="{mask: timeMask}">
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button (click)="cleanModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        <button (click)="editExam()" type="button" class="btn btn-primary" data-dismiss="modal">Edytuj egzamin</button>
      </div>
    </div>
  </div>
</div>
