<div class="header">
  <div class="row">
    <button type="button" class="back btn btn-secondary btn-lg" routerLink="/admin/subject/{{ subjectId }}">Wróć
    </button>
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#questionModal">Edytuj
      pytanie
    </button>
  </div>
</div>

<div class="details">
  <div class="row-details">
    <h4>Id pytania</h4>
    {{ questionDetailsResponse?.id }}
  </div>
  <div class="row-details">
    <h4>Nazwa przedmiotu</h4>
    {{ questionDetailsResponse?.subjectName }}
  </div>
  <div class="row-details">
    <h4>Pytanie</h4>
    {{ questionDetailsResponse?.question }}
  </div>
  <div class="row-details">
    <h4>Ilość wszystkich pytań</h4>
    {{ questionDetailsResponse?.totalAnswers }}
  </div>
  <div class="row-details">
    <h4>Ilośc poprawnych pytań</h4>
    {{ questionDetailsResponse?.correctAnswers }}
  </div>

  <h4>Kod [{{ questionDetailsResponse?.codeSyntax }}]</h4>
  <div class="code" *ngIf="questionDetailsResponse?.code">
    <textarea [(ngModel)]="questionDetailsResponse.code" highlight-js [options]="" [lang]="questionDetailsResponse?.codeSyntax"></textarea>
  </div>

  <div class="row-details" *ngIf="questionDetailsResponse?.image">
    <h4>Obraz</h4>
    <img class="img-container" [src]='image' alt="Obraz do pytania"/>
  </div>

  <div>
    <h4>Odpowiedzi</h4>
    <div class="table">
      <div class="table-responsive col-xs-9 col-md-offset-2">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th *ngFor="let rowName of ['', 'Odpowiedź', 'Czy poprawna']">
              {{ rowName }}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let answer of questionDetailsResponse?.answers ; let i = index">
            <td>
              {{ i + 1 }}
            </td>
            <td>
              {{ answer.answer }}
            </td>
            <td>
              {{ answer.correct }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-question-modal (questionModalEmitter)="editQuestion($event)" [textTitle]="'Edytuj pytanie'"
                    [subjectId]="subjectId"></app-question-modal>
