.row button {
  margin: 10px;
}

.details {
  margin: 40px auto;
  font-size: 15px;
  width: 1000px;
}

.details .row {
  text-align: left;
  margin: 10px;
}

h4 {
  margin: 20px 0 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.details .row-details {
  margin: 20px 0;
}

.details .row-details .img-container {
  border: 2px solid #71d3e0;
  border-radius: 20px;
  max-width: 1000px;
  max-height: 1000px;
}

.details .code {
  text-align: left;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
