<div *ngIf="studentExamListResponse?.length > 0 else noStudentExams">
  <h1>Egzaminy: {{studentExamListResponse.length}}</h1>
  <div class="table">
    <div class="table-responsive col-xs-9 col-md-offset-2" style="padding-top: 30px;">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th *ngFor="let rowName of ['', 'Egzamin', 'Status wyniku', 'Status egzaminu', 'Początek', 'Koniec', 'Opis']">
            {{ rowName }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let exam of studentExamListResponse ; let i = index">
          <td>
            {{ i + 1 }}
          </td>
          <td>
            <div *ngIf="examForStudentIsAvailable(i)">
              <a [routerLink]="[exam.studentScoreId, 'vote']">Do egzaminu</a>
            </div>
            <div *ngIf="!examForStudentIsAvailable(i)">
              Egzamin niedostępny
            </div>
          </td>
          <td>
            <div *ngIf="examScoreIsAvailable(i)">
              <a [routerLink]="[exam.studentScoreId, 'summary']">Pokaż wynik</a>
            </div>
            <div *ngIf="!examScoreIsAvailable(i)">
              {{ exam.scoreStatus }}
            </div>
          </td>
          <td>
            <app-exam-status *ngIf="exam?.examStatus" [examStatus]="exam.examStatus"></app-exam-status>
          </td>
          <td>
            {{ exam.start | date: 'yyyy:MM:dd, HH:mm' }}
          </td>
          <td>
            {{ exam.end | date: 'yyyy:MM:dd, HH:mm' }}
          </td>
          <td>
            {{ exam.description }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #noStudentExams>
  <h2>Brak egzamów do wyświetlenia</h2>
</ng-template>
