<div class="option-button">
  <button type="button" class="back btn btn-secondary btn-lg" routerLink="/admin/group/{{ groupId }}/student/{{ studentId }}">Wróć</button>
</div>

<div class="header">Szczegóły wyniku studenta</div>

<div class="details" *ngIf="studentScoreDetailsResponse else noStudentScoreDetails">
  <div class="row">
    <b>Id egzaminu:</b> {{ studentScoreDetailsResponse.examId }}
  </div>
  <div class="row">
    <b>Data startu egzaminu:</b> {{ studentScoreDetailsResponse.start | date: 'yyyy:MM:dd, HH:mm' }}
  </div>
  <div class="row">
    <b>Data końca egzaminu:</b> {{ studentScoreDetailsResponse.end | date: 'yyyy:MM:dd, HH:mm' }}
  </div>
  <div class="row">
    <b>Opis egzaminu:</b> {{ studentScoreDetailsResponse.description }}
  </div>
  <div class="row">
    <b>Status egzaminu:</b> {{ studentScoreDetailsResponse.examStatus }}
  </div>
  <div class="row">
    <b>Id wyniku</b> {{ studentScoreDetailsResponse.scoreId }}
  </div>
  <div class="row">
    <b>Liczba poprawnych odpowiedzi:</b> {{ studentScoreDetailsResponse.correctQuestions }}
  </div>
  <div class="row">
    <b>Liczba nieporawnych odpowiedzi:</b> {{ studentScoreDetailsResponse.inCorrectQuestions }}
  </div>
  <div class="row">
    <b>Wynik w procentach:</b> {{ studentScoreDetailsResponse.score }}
  </div>
  <div class="row">
    <b>Ocena:</b> {{ studentScoreDetailsResponse.rating }}
  </div>
  <div class="row">
    <b>Status wyniku</b> {{ studentScoreDetailsResponse.scoreStatus }}
  </div>
</div>

<ng-template #noStudentScoreDetails>
  <h2>Brak wyniku studenta</h2>
</ng-template>
